*{
  margin: 0;
}
.btn-margin{
  margin-top: 200px;
  border: none;
  background-color: #fff;
}
.container{
  width: 70%;
  margin: 0 auto;
}
.btn{
  border: 1px solid #222;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  padding: 5px 15px ;
  margin-top: 15px;
}
.btn:hover{
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
.clr{
  clear: both;
}
.box-1{
  background-color: gray;
  padding: 30px;
  border: 3px solid red;
  margin-top: 30px;
  color: #fff;
}
.box-1 h1{
  text-decoration: underline;
}
.box-2{
  margin: 30px 0;
  padding: 30px;
  border: 3px dashed black;
}
.box-2 h1, .box-2 p{
  color: #555;
}
.box-3{
  border: 1px solid #555;
  color: #222;
  padding: 20px;
  margin: 30px 0;
}
.box-3 h1{
  text-align: center;
}
.categories{
  padding: 0;
  list-style: none;
}
.categories li{
  border-bottom: 2px solid #777;
  padding: 10px 0;
}
.categories li:nth-child(even){
  background-color: aquamarine;
}
.box-4{
  border: 1px solid black;
  padding: 30px;
}
.box-4 h1{
  text-align: center;
}
form label{
  display: block;
}
form input, form textarea{
  margin-bottom: 10px;
  padding: 7px;
  width: 100%;
}
.blocks{
  margin: 30px 0;
}
.block{
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 5px;
}
.main{
  margin-bottom: 30px;
}
.content{
  float: left;
  width: 70%;
}
.sidebar{
  background-color: #222;
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  width: 30%;
}
.relative{
  position: relative;
  background-image: url(wall.jpg);
  width: 660px;
  height: 400px;
  background-size: cover;
}
.absolute{
  position: absolute;
  color: #fff;
  top: 150px;
  left: 250px;
}
.fixed{
  position: fixed;
  top: 50%;
  left: 0;
}
.tableOne{
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}
.tableOne th{
  border: 1px solid #000;
  background-color: #777;
  padding: 10px;
}
.tableOne td{
  text-align: center;
  border: 1px solid #000;
  padding: 10px;
}
.tableOne tr:nth-child(even){
  background-color: aquamarine;
}